// Importing shared variables and mixins for reuse
@use '../../variables' as vars;
@use '../../mixins' as mixins;

// Styling for the container that holds the pictures
.pictureContainer {
  display: grid; // Using grid layout to arrange items
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr)); // Dynamically adjusting the number of columns based on available space, each column is at least 20% of the viewport width
  grid-gap: 2vw; // Space between each grid item is 2% of the viewport width
  width: 90vw; // Container width is 90% of the viewport width
  height: 70vh; // Container height is 70% of the viewport height
  margin: 3vh auto; // Adding vertical margin of 3vh and centering the container horizontally
}

// Styling for each picture field within the container
.pictureField {
  @include mixins.flex-center; // Applying mixin for centering content using flexbox
  justify-content: flex-start; // Aligning content to the start (top) of the flex container
  flex-direction: column; // Arranging items vertically (column direction)

  // Styling for each picture inside the field
  .picture {
    width: 20vw; // Setting picture width to 20% of the viewport width
    height: 20vh; // Setting picture height to 20% of the viewport height
    border: 0.1vh solid vars.$pearl-gold; // Adding a thin border with a gold color around each picture
    border-radius: 1vh; // Rounding the corners of the picture with a radius of 1vh
  }

  // Styling for the label under each picture
  .pictureLabel {
    font-family: vars.$playfair; // Applying the Playfair font for the label text
    font-size: 2vh; // Setting the font size to 2% of the viewport height
    color: vars.$champagne-beige; // Setting the text color to champagne beige
  }
}



