@use '../variables' as vars;

.messageCounterContainer {
	@include flex-center;
	flex-direction: column; // Arrange child elements in a column
	padding: 0% 0 7vh 0; // Add vertical padding of 7vh on top and bottom
	
	.counterTitle {
		font-family: vars.$playfair;
		font-size: 3vh;
		color: vars.$champagne-beige;
		letter-spacing: 3%; // Slight letter spacing for a more spaced-out effect
	}

	.counterContainer {
    display: flex; // Use Flexbox layout for positioning elements inside the container
    justify-content: center; // Center the chart horizontally inside the container
    background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Apply a radial gradient background (from dark gold to pearl gold)
    border: 0.1vh solid vars.$pearl-gold; // Add a thin pearl gold border around the container
    border-radius: 1vh; // Round the corners of the chart container
		padding: 1vh 1vw; // Add padding inside the container

		.counterMessage {
			font-family: vars.$playfair;
			font-size: 2vh;

			.markAsReadButton {
				font-family: vars.$playfair;
				font-size: 2vh;
				color: vars.$champagne-beige;
				background: vars.$dark-grey; // Set the background color to dark grey
				border: 0.1vh solid vars.$pearl-gold; // Add a thin pearl gold border around the button
				border-radius: 1vh; // Round the corners of the button
				padding: 0.5vh 1vw; // Add padding inside the button

				&:hover {
					background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Change background color to dark and pearl gold on hover
					color: vars.$black; // Change text color to dark grey on hover
					cursor: pointer; // Change cursor to pointer on hover
				}
			}
		}
  }
}