@use '../variables' as vars;

// Styling for the login title
.loginTitle {
	font-family: vars.$cinzel; // Use the 'Cinzel' font for the title
	letter-spacing: 3%; // Slight letter spacing for a more spaced out effect
	font-size: 3vh; // Set font size relative to the viewport height
}

// Styling for form rows that contain inputs and labels
.formRow {
	display: flex; // Use Flexbox layout for the form row
	justify-content: space-between; // Distribute the content evenly with space between
	gap: 1vw; // Space between elements in the form row

	.emailTitle, .passwordTitle {
		// Styling for email and password field labels
		font-family: vars.$playfair; // Use the 'Playfair' font for the labels
		font-size: 2vh; // Set font size relative to the viewport height
		letter-spacing: 3%; // Slight letter spacing for a more spaced out effect
		margin-top: 0.5vh; // Small margin on top to space out from the element above
	}

	.emailInput, .passwordInput {
		// Styling for the email and password input fields
		background-color: vars.$dark-grey; // Set dark grey background for inputs
		color: vars.$champagne-beige; // Use champagne beige color for the text inside the input
		border: 0.1vh solid vars.$pearl-gold; // Add a thin pearl gold border around the input
		border-radius: 1vh; // Round the corners of the input fields
		font-family: vars.$playfair; // Use the 'Playfair' font for text inside the input
		font-size: 2vh; // Set font size relative to the viewport height
		padding: 0.5vh; // Add padding inside the input fields

		&:focus {
			// Styling for the input fields when focused
			outline: 0.2vh solid vars.$pearl-gold;  // Remove the default outline and add a thin pearl gold outline
		}
	}
}

// Styling for the submit button
.submitButton {
	background-color: vars.$dark-gold; // Set the background color to dark gold
	color: vars.$black; // Set the text color to black
	border: 0.1vh solid vars.$pearl-gold; // Add a thin pearl gold border around the button
	border-radius: 1vh; // Round the corners of the button
	font-size: 2vh; // Set font size relative to the viewport height
	font-family: vars.$playfair; // Use the 'Playfair' font for the button text
	margin-top: 2vh; // Add top margin for spacing

	&:hover {
		// Hover effect for the submit button
		cursor: pointer; // Change the cursor to a pointer when hovering
		background-color: vars.$dark-grey; // Change background to dark grey on hover
		color: vars.$champagne-beige; // Change text color to champagne beige on hover
	}
}


