@use '../variables' as vars;
@use '../mixins' as mixins;

// Container for the orders chart
.ordersChartContainer {
  @include mixins.flex-center; // Center the container using Flexbox
  flex-direction: column; // Arrange child elements in a column
  padding: 7vh 0; // Add vertical padding of 7vh on top and bottom

  .mainTitle {
    font-family: vars.$playfair; // Use the 'Playfair' font for the title
    font-size: 3vh; // Set font size relative to the viewport height
    letter-spacing: 3%; // Slight letter spacing for a more spaced-out effect
    color: vars.$champagne-beige; // Set the text color to champagne beige
  }

  .chartContainer {
    height: 20vh;  // Set the height of the chart container to 20vh
    display: flex; // Use Flexbox layout for positioning elements inside the container
    justify-content: center; // Center the chart horizontally inside the container
    background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Apply a radial gradient background (from dark gold to pearl gold)
    border: 0.1vh solid vars.$pearl-gold; // Add a thin pearl gold border around the container
    border-radius: 1vh; // Round the corners of the chart container
  }
}

