@use '../../variables' as vars; // Importing global variables like colors, fonts, etc.

// Styles for the checkout button
.checkoutButton {
  background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Set a radial gradient background from dark gold to pearl gold
  border: 0.1vh solid vars.$pearl-gold; // Add a thin border with pearl gold color
  border-radius: 1vh; // Apply rounded corners with a 1vh radius
  padding: 1vh; // Add 1vh padding inside the button
  font-family: vars.$playfair; // Set the font family to Playfair
  font-size: 2vh; // Set the font size to 2vh (2% of the viewport height)
  cursor: pointer; // Change the cursor to a pointer when hovering over the button
  text-align: center; // Align the text in the center of the button

  // Styles for the button when hovered over
  &:hover {
    background: vars.$dark-grey; // Change the background to dark grey when hovered
    color: vars.$champagne-beige; // Change the text color to champagne beige when hovered
  }
}
