@use '../../variables' as vars; // Import global variables like colors, fonts, etc.
// Styles for the myOrdersPage
.myOrdersPage {
  margin: 0; // Remove any default margin
  padding: 0; // Remove any default padding

  .myOrdersContainer {
    display: flex; // Use flexbox for layout
    flex-direction: column; // Stack items vertically
    align-items: center; // Center items horizontally
    width: 100%; // Set the width to 100% of the parent container
    padding: 7vh; // Add padding of 7% of the viewport height around the container

    .myOrdersField {
      border: 0.1vh solid vars.$pearl-gold; // Add a thin border with pearl gold color
      border-radius: 1vh; // Apply rounded corners with a 1vh radius
      width: 70vw; // Set the width to 70% of the viewport width
      background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Set a radial gradient background from dark gold to pearl gold
      text-align: center; // Align the text in the center of the field
      font-family: vars.$playfair; // Set the font family to Playfair
      font-size: 2vh; // Set the font size to 2% of the viewport height
    }
  }
}
