@use '../variables' as vars;

.messageContainer {
	// Container for the entire message area
	display: flex;
	flex-direction: column; // Align items vertically
	align-items: center; // Center align items horizontally
	justify-content: center; // Center the content
	padding: 7vh 12vw; // Padding for top, bottom, left, and right
	text-align: center; // Center align text
	position: relative; // Set position to relative for positioning child elements
	gap: 5vh; // Space between child elements

	.messageField {
		// Message field styling
		background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Gradient background
		color: vars.$black; // Text color
		font-family: vars.$playfair; // Font style
		font-size: 2vh; // Font size
		border: 0.1vh solid vars.$pearl-gold; // Border styling
		border-radius: 1vh; // Rounded corners
		width: 75vw; // Set width to 75% of the viewport width
		height: 50vh; // Set height to 50% of the viewport height
		padding: 2vh 2vw; // Padding for the content inside
		position: relative; // Relative positioning for inner elements

		.messageFieldHeader {
			// Header of the message field
			height: 8vh; // Set the height of the header

			.select {
				// Select dropdown styling inside the header
				background-color: vars.$dark-grey; // Background color
				border: 0.1vh solid vars.$pearl-gold; // Border styling
				border-radius: 1vh; // Rounded corners
				color: vars.$champagne-beige; // Text color
				font-family: vars.$playfair; // Font style
				font-size: 2vh; // Font size

				.option {
					// Styling for options inside the select dropdown
					color: vars.$champagne-beige; // Text color
				}
			}
		}

		.messageFieldBody {
			// Body section of the message field
			height: 30vh; // Set height for the body section

			.textarea {
				// Textarea for input inside the body
				width: 100%; // Full width of the container
				height: 100%; // Full height of the container
				background-color: vars.$dark-grey; // Background color
				color: vars.$champagne-beige; // Text color
				border: 0.1vh solid vars.$pearl-gold; // Border styling
				border-radius: 1vh; // Rounded corners
				padding: 1vh; // Padding inside the textarea
			}
		}

		.messageFieldFooter {
			// Footer of the message field

			.sendButton {
				// Styling for the send button in the footer
				margin-top: 4vh; // Top margin for spacing
				font-family: vars.$playfair; // Font style
				font-size: 2vh; // Font size
				padding: 1vh; // Padding for the button
				border: 0.1vh solid vars.$pearl-gold; // Border styling
				border-radius: 1vh; // Rounded corners
				background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Gradient background

				&:hover {
					// Hover effect for the button
					background: vars.$dark-grey; // Background color on hover
					color: vars.$champagne-beige; // Text color on hover
					cursor: pointer; // Change cursor to pointer on hover
				}
			}
		}
	}

	.messageList {
		// Message list container styling
		display: flex; // Flexbox layout
		justify-content: space-between; // Space between the message items
		width: 100%; // Full width of the container
		padding: 2vh 0; // Vertical padding

		.messageItem {
			// Individual message item styling
			font-size: 3vh; // Font size for the message
			font-family: vars.$cinzel; // Font style
			background: vars.$dark-grey; // Background color
			color: vars.$champagne-beige; // Text color
			cursor: pointer; // Change cursor on hover
			border: 0.1vh solid vars.$pearl-gold; // Border styling
			border-radius: 1vh; // Rounded corners
			padding: 1vh; // Padding inside the message item
			flex: 1; // Flexbox property to make all items equal in size
			text-align: center; // Center align text inside the item
			max-width: 10vw; // Limit max width to 10% of viewport width

			&:hover {
				// Hover effect for the message item
				background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Gradient background on hover
				color: vars.$black; // Change text color on hover
			}
		}
	}

	.overlayContainer {
		// Overlay container for modal-like behavior
		background-color: rgba(0, 0, 0, 0.7); // Dark semi-transparent background
		width: 100%; // Full width of the screen
		height: 100%; // Full height of the screen
		position: fixed; // Fixed position on the screen
		top: 0; // Align to the top
		left: 0; // Align to the left

		.overlay {
			// Styling for the overlay modal
			background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Gradient background
			border: 0.1vh solid vars.$pearl-gold; // Border styling
			border-radius: 1vh; // Rounded corners
			max-width: 75vw; // Maximum width of 75% of the viewport width
			position: fixed; // Fixed positioning
			top: 50%; // Position in the center vertically
			left: 50%; // Position in the center horizontally
			transform: translate(-50%, -50%); // Center the overlay exactly

			.overlayContent {
				// Content inside the overlay modal
				font-family: vars.$playfair; // Font style
				font-size: 3vh; // Font size

				.chatMessage {
					// Chat message inside the overlay
					font-family: 2vh; // Font size for the chat message
				}

				.chatButton {
					// Styling for the chat button inside the overlay
					background: vars.$dark-grey; // Background color
					border: 0.1vh solid vars.$pearl-gold; // Border styling
					border-radius: 1vh; // Rounded corners
					color: vars.$champagne-beige; // Text color
					font-family: vars.$playfair; // Font style
					font-size: 3vh; // Font size
					cursor: pointer; // Change cursor to pointer on hover

					&:hover {
						// Hover effect for the chat button
						background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Gradient background on hover
						color: vars.$black; // Change text color on hover
					}
				}
			}
		}
	}
}

