// Import global variables and mixins
@use '../variables' as vars; // Import the global variables such as colors, font sizes, etc.

// Styles for the orders page
.ordersPage {
  // Container for orders
  .ordersContainer {
    display: grid; // Use grid display for the container to arrange orders in a grid layout
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr)); // Automatically fill grid columns with a minimum width of 10vw (viewport width) and a maximum width of 1 fractional unit (flexible)
    max-width: 60vw; // Set maximum width of the container to 60% of the viewport width
    gap: 1vh 5vw; // Set gap between grid items: 1vh vertical gap and 5vw horizontal gap
    position: absolute; // Position the container absolutely within the parent element
    top: 5%; // Position container 5% from the top of the parent element
    left: 50%; // Center container horizontally by setting left to 50% of the parent element
    transform: translateX(-50%); // Translate the container 50% to the left to truly center it horizontally

    // Styles for individual order items inside the container
    .orderItem {
      border: 0.1vh solid vars.$pearl-gold; // Add a thin border around each order item with pearl gold color
      border-radius: 1vh; // Round the corners of the order item with a 1vh radius
      padding: 1vh; // Add padding inside the order item to create space around the content
      text-align: center; // Center the text horizontally inside the order item
      color: vars.$champagne-beige; // Set text color to champagne beige
      font-family: vars.$playfair; // Set font family to Playfair
      font-size: 2vh; // Set font size to 2vh, which is 2% of the viewport height

      // Styles for the image inside each order item
      .orderImage {
        width: 90%; // Set the width of the image to 90% of the parent order item
        height: fit-content; // Set height to fit content (image will retain its aspect ratio)
        border: 0.1vh solid vars.$pearl-gold; // Add a thin border around the order image with pearl gold color
        border-radius: 1vh; // Round the corners of the image with a 1vh radius
      }
    }
  }
}
