// Import global variables and mixins
@use '../../variables' as vars; // Importing global variables like colors, fonts, etc.

// Styles for the sidebar
.sidebar {
  display: flex; // Display the sidebar as a flexible container
  text-align: left; // Align text to the left
  flex-direction: column; // Stack elements vertically in the sidebar
  width: 10vw; // Set the width of the sidebar to 10% of the viewport width
  height: 100vh; // Set the height of the sidebar to 100% of the viewport height
  position: fixed; // Fix the sidebar to the left side of the viewport
  border-right: 0.1vh solid vars.$pearl-gold; // Add a thin border on the right side of the sidebar to separate it from the content
  z-index: 1; // Ensure the sidebar is on top of other elements with a high z-index

  // Shared styles for sidebar links and button
  .sidebarLink1, .sidebarLink2, .sidebarLink3, .sidebarLink4, .sidebarLink5, .sidebarLink6, .sidebarButton {
    position: absolute; // Position all links and buttons absolutely within the sidebar container
    left: 7%; // Set the left margin to 7% of the width of the sidebar for alignment
    text-decoration: none; // Remove any default text decoration (like underline)
    font-family: vars.$playfair; // Use the 'Playfair' font for text in the sidebar
    color: vars.$champagne-beige; // Set the text color to champagne beige
    font-size: 2vh; // Set the font size to 2vh (2% of the viewport height)
  }

  // Styles for individual sidebar links, each positioned vertically
  .sidebarLink1 {
    top: 7%; // Position the first link 7% from the top of the sidebar
  }
  
  .sidebarLink2 {
    top: 14%; // Position the second link 14% from the top of the sidebar
  }
  
  .sidebarLink3 {
    top: 21%; // Position the third link 21% from the top of the sidebar
  }
  
  .sidebarLink4 {
    top: 28%; // Position the fourth link 28% from the top of the sidebar
  }
  
  .sidebarLink5 {
    top: 35%; // Position the fifth link 35% from the top of the sidebar
  }

  .sidebarLink6 {
    top: 42%; // Position the sixth link 42% from the top of the sidebar
  }

  // Styles for the sidebar button at the bottom
  .sidebarButton {
    bottom: 7%; // Position the button 7% from the bottom of the sidebar
    width: 8.5vw; // Set the width of the button to 8.5% of the viewport width
    background-color: vars.$dark-grey; // Set the background color of the button to dark grey
    border: 0.1vh solid vars.$pearl-gold; // Add a border to the button using pearl gold
    border-radius: 1vh; // Add border radius to give the button rounded corners
    
    // Styles for the button when hovered over
    &:hover {
      background: radial-gradient(circle, vars.$dark-gold 60%, vars.$pearl-gold); // Set the background to a radial gradient from dark gold to pearl gold
      cursor: pointer; // Change the cursor to a pointer to indicate it's clickable
      color: vars.$black; // Change the text color to black on hover
    }
  }
}
