// Colors
$dark-grey: #333333; // A dark grey color, typically used for backgrounds or text
$champagne-beige: #F7E7CE; // A light beige color, often used for text or subtle accents
$black: #000000; // Pure black color
$black-20: rgba(0, 0, 0, 0.2); // Semi-transparent black with 20% opacity (for overlays, shadows, etc.)
$bright-gold: #F4A300; // A bright gold color, can be used for highlighting important elements
$pearl-gold: #E6BE8A; // A soft, light gold color, can be used for backgrounds or subtle highlights
$dark-gold: #B8860B; // A darker gold color, suitable for richer, more luxurious elements
$bronze-gold: #CD7F32; // A bronze-gold color, giving a warm and vintage look
$warmoffwhite: #F8F5F2; // A warm off-white color, ideal for backgrounds or subtle contrasts
$warmoffwhite2: #EAE5DF; // A slightly darker warm off-white for softer contrasts
$darkwalnut: #5C4033; // A deep brown color, resembling walnut, used for dark accents or text

// Fonts
$cinzel: var(--font-cinzel), sans-serif; // Cinzel font, a serif typeface inspired by Roman inscriptions
$playfair: var(--font-playfairdisplay), sans-serif; // Playfair Display font, a serif typeface with a high contrast design
