@use '../variables' as vars;
@use '../mixins' as mixins;

// Styling for the registration title
.registerTitle {
	font-family: vars.$cinzel; // Use the 'Cinzel' font for the title
	letter-spacing: 3%; // Slight letter spacing for a more spaced-out effect
	font-size: 3vh; // Set font size relative to the viewport height
}

// Styling for success message
.succes {
	font-size: 2vh; // Set font size relative to the viewport height
	font-family: vars.$playfair; // Use the 'Playfair' font for the success message
}

// Styling for the user type selection section
.userTypeSelection {
	font-family: vars.$playfair; // Use the 'Playfair' font for the user type section
	font-size: 2vh; // Set font size relative to the viewport height
	@include mixins.flex-center; // Center the content using the mixin
	flex-direction: column; // Align the items in a column direction

	// Styling for the radio buttons in the user type selection
	input {
		cursor: pointer; // Change cursor to pointer to indicate interactivity
		appearance: none; // Remove default browser appearance
		width: 1.5vh; // Set width of the radio button relative to viewport height
		height: 1.5vh; // Set height of the radio button relative to viewport height
		border: 0.1vh solid vars.$pearl-gold; // Add a thin pearl gold border around the button
		border-radius: 0.5vh; // Round the corners of the radio button

		&:checked {
			// Styling for when the radio button is checked
			background-color: vars.$dark-grey; // Set background color to dark grey when checked
		}
	}
}

// Styling for form rows containing labels and inputs
.formRow {
	display: flex; // Use Flexbox layout for the form row
	flex-direction: column; // Align the form elements vertically in a column
	justify-content: space-between; // Space out the elements within the form row
	width: 15vw; // Set width of the form row to 15% of the viewport width

	.title {
		font-family: vars.$playfair; // Use the 'Playfair' font for the title
		font-size: 2vh; // Set font size relative to the viewport height
		letter-spacing: 3%; // Slight letter spacing for a more spaced-out effect
		margin-top: 0.5vh; // Small margin on top to space out from the element above
	}

	.input {
		// Styling for the input fields inside the form row
		background-color: vars.$dark-grey; // Set dark grey background for inputs
		color: vars.$champagne-beige; // Use champagne beige color for the text inside the input
		border: 0.1vh solid vars.$pearl-gold; // Add a thin pearl gold border around the input
		border-radius: 1vh; // Round the corners of the input fields
		font-family: vars.$playfair; // Use the 'Playfair' font for text inside the input
		font-size: 2vh; // Set font size relative to the viewport height
		padding: 0.5vh; // Add padding inside the input fields

		&:focus {
			// Styling for the input fields when focused
			outline: 0.2vh solid vars.$pearl-gold;  // Remove the default outline and add a thin pearl gold outline
		}
	}
}

// Styling for the submit button
.submitButton {
	background-color: vars.$dark-gold; // Set the background color to dark gold
	color: vars.$black; // Set the text color to black
	border: 0.1vh solid vars.$pearl-gold; // Add a thin pearl gold border around the button
	border-radius: 1vh; // Round the corners of the button
	font-size: 2vh; // Set font size relative to the viewport height
	font-family: vars.$playfair; // Use the 'Playfair' font for the button text
	margin-top: 2vh; // Add top margin for spacing

	&:hover {
		// Hover effect for the submit button
		cursor: pointer; // Change the cursor to a pointer when hovering
		background-color: vars.$dark-grey; // Change background to dark grey on hover
		color: vars.$champagne-beige; // Change text color to champagne beige on hover
	}
}

